<div>
    <button ng-click="openAddPower()">Add Power</button>
    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Type</th>
            </tr>
            <tr ng-repeat="power in powers">
                <td>{{power.name}}</td>
                <td>{{power.description}}</td>
                <td>{{power.powerType.powerType}}</td>
            </tr>
        </tbody>
    </table>
    <div ng-show="showAddPower">
        <input type="text" ng-model="newPower.name" placeholder="Power Name" />
        <input type="text" ng-model="newPower.description" placeholder="Power Description" />
        <input type="text" ng-model="newPower.powerType" placeholder="Power Type" />
        <button ng-click="addPower()">Save</button>
    </div>
</div>
